<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
	  <div class="container">
	    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </a>
	    <a class="brand" href="{{request.settings.BASE_URL}}">HRMSystems</a>
	    <div class="nav-collapse collapse">
	      {% if request.user.is_authenticated %}
			<ul class="nav nav-tabs">
			  <li {% if active == 'department' %}class="active"{% endif %}><a href="{% url create-department %}">Departments</a></li>
			  <li {% if active == 'employee' %}class="active"{% endif %}><a href="{% url create-employee %}">Employees</a></li>
			  
			  
			</ul>
		{% endif %}
	      {% if not request.user.is_authenticated %}
		<form name="login" action="" method="post" class="navbar-form pull-right">
		  {% csrf_token %}
		  {%for field in form_login %}
			  {{field}}
		  {% endfor %}
		  <input type='hidden' name='formname' value='login'>
		  <button type="submit" class="btn">Sign in</button>
		  <a href='#'>
			  <img class='sconnect' src='/media/images/facebook.png'/>
		  </a>
		  <a href='#'>
			  <img class='sconnect' src='/media/images/twitter.png'/>
		  </a>
		  <a href='#'>
			  <img class='sconnect' src='/media/images/google+_02_32x32.png'/>
		  </a>
		</form>
	      {% else %}
		<div style="float: right; margin-top: 4px; margin-right: 70px;">
			<div class="btn-group">
				<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Settings <span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#">My Account</a></li>
					<li><a href="{% url logout %}">Logout</a></li>
				</ul>
			</div>
		</div>
	      {% endif %}
	    </div><!--/.nav-collapse -->
	  </div>
	</div>
</div>
