{% extends "base/skeleton.html" %}

{% block title %}Password reset{% endblock %}

{% block pagetitle %}Password reset{% endblock %}

{% block content %}
 Enter your default password Configuration !
<form name="/password" action="" method="post">
{% csrf_token %}
 {{password_form.as_p}}
 
<div class="control-group">
			<div class="controls">
				<input type='hidden' name='formname' value='password_reset'>
				<input type="submit" class='btn btn-primary btn-small' value=" Submit &raquo;" text="Sign Up" />
			</div>
		</div>
</form>
{% endblock %}