{% extends 'base/skeleton.html' %}

{% block content %}

<table border="1" cellpadding="5" cellspacing="5">
{% for department in department_obj %}
    <tr>
        <td>{{company_obj}}</td>
        <td>{{department}}</td>
        <td>{{department.supervisor.email}}</td>
        <td>&nbsp;</td>
    </tr>
    {% for emp_name in department.employee.all %}
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>{{emp_name}}</td>
        </tr>
    {% endfor %}
{% endfor %}
</table>
{% endblock %}